/* line 6, ../scss/styles.scss */
html {
  font-size: 62.5%;
}

/* line 10, ../scss/styles.scss */
body {
  font: 1.6rem/1.5 sans-serif;
}

/* line 14, ../scss/styles.scss */
.header, .body, .footer {
  padding: 2rem;
}

/* line 19, ../scss/styles.scss */
.header {
  background-color: black;
  color: white;
}
/* line 24, ../scss/styles.scss */
.header h1 {
  margin-top: 0;
}

/* line 33, ../scss/styles.scss */
.body h2 {
  margin-top: 0;
}

/* line 39, ../scss/styles.scss */
.footer {
  background-color: #4d4d4d;
  color: white;
}
/* line 44, ../scss/styles.scss */
.footer a {
  color: #b3b3b3;
}

/* line 49, ../scss/styles.scss */
.pure-menu.pure-menu-open {
  background: transparent;
}

/* line 52, ../scss/styles.scss */
.pure-menu li a {
  background-color: rgba(255, 255, 255, 0.15);
}
